.Cards {
    display: flex;
    gap: 10px;
    top: 6rem;
  }
  .parentContainer{
    width: 100%;
  }
  
  @media screen and (max-width: 1200px) {
    .Cards{
      flex-direction: initial;
    }
    .parentContainer{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 90%;
    }
  }
  